@import "partial-styles/patterns";
@import "partial-styles/mixings";

:host {
    @include CszempPattern(.01, $primary);
    display: flex;

    app-bubble-wrapper {
        flex: 1;

        main {
            width: 100%;
            max-width: 1200px;
            display: flex;
            align-items: center;
            gap: $large_number;
            justify-self: center;

            section {
                @include GlassBackround;
                flex: 1;
                height: 95vh;
                overflow-y: scroll;
                overflow-x: hidden;
            }

            .slide-manager {
                width: 500px;
                height: 100vh;
            }

            @media (max-width: 950px) {
                padding: 0 $medium_number + $small_number;

                .slide-manager {
                    display: none;
                }
            }

            @media (max-width: 350px) {
                padding: 0 $small_number;
            }
        }
    }
}