 @import "../../../../partial-styles/mixings";
 @import "partial-styles/animations";

:host {
    @include AuthFormsContainersBasicStyles("true");
    
    nav {
        display: flex;
        justify-content: flex-start;
        padding: 0 $large_number;

        app-icon {
            padding: $medium_number;
            color: $white;
            cursor: pointer;
        }
    }

    main {
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: $medium_number;

        p {
            @include FadeInAnimation;
            align-self: center;
            padding: $small_number $medium_number;
            background-color: $secondary;
            text-align: center;
            border-radius: $small_number;
        }
    }
}