@import "partial-styles/variables";

:host {
    width: clamp(40px, 50%, 200px);
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: $small_number $medium_number;
    cursor: pointer;
    gap: $medium_number;
    container-type: inline-size;

    app-image {
        width: 35px;
        height: 35px;
    }

    div {
        position: relative;
        display: flex;
        flex-flow: column;
        color: $secondary;
        flex: 1;

        &.dark {
            color: $primary;

            .line{
                background-color: $primary;
            }
        }

        .line {
            position: absolute;
            inset: 0;
            width: clamp(10px, 95%, 128px);
            height: 1px;
            top: $large_number + 2;
            background-color: $white;
            opacity: .8;
        }

        p{
            font-size: $preferred_font_size + ($small_number + 2);
            margin-bottom: $medium_number + 3;
        }

        i{
            position: absolute;
            font-size: $small_number + 2;
            font-style: normal;
            top: 80%;
        }
    }

    @container (max-width: 190px) {
        div {
            p {
                font-size: $preferred_font_size;
            }

            i {
                font-size: $small_number;
            }
        }

        .line {
            width: clamp(10px, 60%, 128px) !important;
            top: $medium_number + 8 !important;
        }
    }


    @container (max-width: 150px) {
        justify-content: center;

        div {
            display: none;
        }
    }

    @media (max-width: 600px) {        
        padding: $medium_number 0px;
    }
}