@import "partial-styles/variables";

:host {
    width: clamp(40px, 50%, 200px);
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: $small_number $medium_number;
    cursor: pointer;
    gap: $medium_number;
    container-type: inline-size;

    app-image {
        width: 35px;
        height: 35px;
    }

    & > div {
        width: max-content;
        position: relative;
        display: flex;
        flex-flow: column;
        color: $secondary;
        flex: 1;

        &.dark {
            color: $primary;

            p{
                border-bottom: solid 1px $primary;
            }

            .line{
                background-color: $primary;
            }
        }

        p{
            width: max-content;
            font-size: $preferred_font_size;
            border-bottom: solid 1px $white;
        }

        i{
            font-size: $small_number;

            &.static {
                height: $medium_number;
                visibility: hidden;
            }

            &.float {
                position: absolute;
                top: ($medium_number * 2) - 2;
            }
        }
    }

    @container (max-width: 100px) {
        justify-content: center;
        
        div {
            display: none;
        }
    }

    @media (max-width: 600px) {        
        padding: $medium_number 0px;

        div {
            p {
                font-size: $preferred_font_size;
            }

            .line {
                top: $preferred_font_size + $small_number;
            }

            i {
                font-size: $small_number;
            }
        }
    }
}