<app-loaders #UpcomingMeetingLoader [initial_hide]="true" (onReady)="onUpcomingMeetingLoaderReady()" [options]="{gradient: {type: 'gray'}}">
    <main #loadTarget [ngClass]="{no_meeting: !UpcomingMeeting()}">
        <h4>{{Title() | titlecase}}</h4>

        @if(UpcomingMeeting()) {
            <app-upcoming-meeting-view [UpcomingMeetingInput]="UpcomingMeeting()"></app-upcoming-meeting-view>
        }@else {
            <div>
                <app-image [inputSrc]="AppVectorPaths.HOUSE_SEARCH"></app-image>

                <h5>Upcoming meetings will appear here</h5>
            </div>
        }
    </main>
</app-loaders>