@import "partial-styles/mixings";

:host {
    display: flex;
    align-items: center;
    gap: $medium_number;

    div {
        flex: 1;
        cursor: pointer;

        &:nth-child(2) {
            @include LiquidGlassBackground;
            flex: none;
            padding: $medium_number;

            app-icon {
                font-size: $medium_number + $small_number;
            }
        }
    }
}