@import "partial-styles/mixings";

:host {
    display: flex;

     main {
        @include CollapseableContainer;
        flex: 1;

        div {
            display: flex;
            justify-content: center;

            p {
                font-size: $preferred_font_size;
                padding: $small_number $large_number;
                background-color: $white;
                border-radius: $small_number;
                color: $primary;

                &::first-letter{
                    text-transform: capitalize;
                }

                &.red {
                    color: $err_red;
                }
            }
        }
    }
}