@import "../../../../partial-styles/mixings";

:host {
    @include AuthFormsContainersBasicStyles("true");

    form {
        main {
            gap: $medium_number * 4 !important;
        }
    }

    .username-hold{
        display: flex;
        align-items: center;
        gap: $medium_number;

        label{
            flex: 1;
        }

        button {
            @include LiquidGlassBackground($green_pallet_1);
            padding: $medium_number $medium_number;
            border-radius: $small_number;
            color: $secondary;
            cursor: pointer;
            height: max-content;
        }
    }

    textarea {
        height: 100px
    }
    
    app-profile-image-view-and-upload {
        align-self: center;
    }
}