@mixin AttendanceTagStyling ($showShadow: "true") {
    @if $showShadow == "true" {
        @include Shadow(4px, 2px, .9);
    }

    padding: $small_number $medium_number;
    border-radius: $medium_number;
    font-size: $preferred_font_size;
    background-color: $green_pallet_1;
    color: $secondary;

    &.late {
        background-color: $grey;
        color: $secondary;
    }

    &.on-time {
        background-color: $orange_pallet_1;
        color: darken($color: $orange_pallet_1, $amount: 60);
    }
}