<h3>
    @switch (Options.mode) {
        @case ("create") {
            Add Agenda
        }

        @case ("edit") {
            Edit Agenda
        }
    }
</h3>

<div class="line"></div>

<form #form="ngForm" (ngSubmit)="Submit()">
    <label>
        <app-input-field-decorator [NoShadow]="true" [model]="agendaTopicModel" FieldStyle="hub">
            <input 
                #textField
                type="text"
                placeholder="Agenda topic"
                required
                [(ngModel)]="MeetingAgenda.topic"
                name="topic"
                #agendaTopicModel="ngModel">
        </app-input-field-decorator>

        <app-form-error-message [NoBackground]="true" *ngIf="agendaTopicModel.dirty && agendaTopicModel.errors?.['required']">This field cannot be empty</app-form-error-message>
    </label>

    <section class="meeting-time-panel">
        
        <div class="time-frame">
            <p>Meeting Time frame:</p> 

            <div>
                <p>Start: <b>{{Options.meeting_start_time | date : "hh:mm aa"}}</b></p>
            
                <p>End: <b>{{Options.meeting_end_time | date : "hh:mm aa"}}</b></p>
            </div>
        </div>

        <div class="time-frame">
            <p>Agenda Time frame:</p> 

            <div>
                <p>Start: <b>{{AgendaStartTime() | date : "hh:mm aa"}}</b></p>
            
                <p *ngIf="TimingChanged() || Options.mode == 'edit'">End: <b>{{AgendaEndTime() | date : "hh:mm aa"}}</b></p>
            </div>
        </div>

        <p *ngIf="Options.mode == 'create'">Total Meeting time: <b>{{MeetingTotalTime()}}</b></p>

        <p *ngIf="Options.mode == 'create'">Time left in meeting for agenda: <b>{{MinutesLeftInMeetingDuration() > 0 ? TimeLeftForAgendas() : 'Out of time'}}</b></p>
    </section>

    <section *ngIf="Options.mode == 'create'" class="time-view">
        <div class="top">
            <p>Set Agenda Timeing:</p> 
        </div>

        <div class="main">
            <app-drop-down
                [ngClass]="{disabled: HoursDropList().length < 1}"
                #hoursDropDown
                [Style]="'white-background'" 
                [InputedDrops]="HoursDropList()"
                GroupName="agenda-manager"
                [doNotEmitFirstDropOnInit]="true"
                (selectedDropUnit)="OnHourSelect($event)"
                [maxHeight]="150">

                <p>Hours</p>
                <span>{{HoursBetweenAgendaStartAndEndTime()}}</span>
                <app-icon [name]="hoursDropDown.Opened() ? 'caret-up' : 'caret-down'"></app-icon>
            </app-drop-down>

            <div class="minutes-view">
                <p>Minutes</p>

                <div>
                    <app-icon [ngClass]="{disabled: AgendaMinutesDuration() <= 0}" (click)="ChangeMinutes('minus')" name="minus"></app-icon>

                    <span>{{AgendaMinutesDuration()}}</span>

                    <app-icon [ngClass]="{disabled: AgendaMinutesDuration() >= 55 || MinutesLeftInMeetingDuration() <= 0}" (click)="ChangeMinutes('add')" name="plus"></app-icon>
                </div>
            </div>
        </div>

        <button 
            [ngClass]="{disabled: MinutesLeftInMeetingDuration() <= 0}" 
            [disabled]="MinutesLeftInMeetingDuration() <= 0" 
            (click)="SetAgendaTimingToRemainingMeetingTime()">
                Set timing to time left in meeting
            </button>
    </section>

    <label>
        <app-input-field-decorator [maxLength]="200" [optionalField]="true" [NoShadow]="true" FieldStyle="hub">
            <textarea 
                #textField
                name="desciption"
                placeholder="Description"
                [(ngModel)]="MeetingAgenda.description">
            </textarea>
        </app-input-field-decorator>
    </label>

    <div class="sub-button">
        @if(Options.mode == 'create') {
            <input 
            type="submit" 
            value="Add Agenda"
            [disabled]="form.invalid || !isAgendaTimeValid()">
        }@else {
            <input 
            type="submit" 
            value="Save Changes"
            [disabled]="form.pristine || form.invalid">
        }
    </div>
</form>