@import "partial-styles/variables";
@import "partial-styles/animations";

:host {
    @include FadeInAnimation;
    max-width: max-content;

    p {
        font-size: $medium_number;
        color: $err_red;
        padding: $small_number;
        background-color: $secondary;
        border-radius: $small_number;
    
        &.no_bg {
            background-color: transparent;
        }
    }
}