@import "../../partial-styles/mixings";

:host {
    @include AuthFormsContainersBasicStyles("false");
    flex: 1;

    img {
        height: 150px;
        margin-top: $large_number;
    }

    label {
        ul {
            display: flex;
            flex-flow: column;
            gap: $medium_number;
            list-style: none;
            margin-top: $medium_number;
        
            li {
                display: flex;
                gap: $medium_number;
                color: $white;
                font-size: $preferred_font_size;
                border-radius: 3px;
                padding: 3px $medium_number;
                width: max-content;
            
                &.valid {
                    p {
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}