<header>
    <h3>{{HeaderText}}</h3>
    <p>{{SubHeaderText}}</p>
</header>


<img [src]="AppVectorPaths.PASSORD_SET_BANNER" alt="">

<form #form="ngForm" (ngSubmit)="Next()">
    <main>
        <label>
            <app-password-input-decorator>
                <app-input-field-decorator>
                    <input 
                        #textField
                        #passwordField
                        appPassordValidator
                        required
                        type="password" 
                        name="password" 
                        #passwordModel="ngModel"
                        placeholder="Create password"
                        [(ngModel)]="Password"
                        (input)="ClearConfirmPassword()">
                </app-input-field-decorator>
            </app-password-input-decorator>
            <ul>
                <li [ngClass]="{valid: PassWordHasANumber}">
                    @if (PassWordHasANumber) {
                        <app-icon name='check'></app-icon>
                    }@else {
                        <app-icon name='dot-circle'></app-icon>
                    }
                    
                    <p>Must contain a number</p>
                </li>
                <li [ngClass]="{valid: PassWordHasACapLetter}">
                    @if (PassWordHasACapLetter) {
                        <app-icon name='check'></app-icon>
                    }@else {
                        <app-icon name='dot-circle'></app-icon>
                    }

                    <p>Must contain a capital letter</p>
                </li>
                <li [ngClass]="{valid: PassWordHasASymbol}">
                    @if (PassWordHasASymbol) {
                        <app-icon name='check'></app-icon>
                    }@else {
                        <app-icon name='dot-circle'></app-icon>
                    }

                    <p>Must contain a symbol</p>
                </li>
                <li [ngClass]="{valid: PasswordIsMoreThanEightChars}">
                    @if (PasswordIsMoreThanEightChars) {
                        <app-icon name='check'></app-icon>
                    }@else {
                        <app-icon name='dot-circle'></app-icon>
                    }

                    <p>Must be at least 8 characters long</p>
                </li>
            </ul>
        </label>

        <label>
            <app-password-input-decorator>
                <app-input-field-decorator [model]="conPasswordModel">
                    <input
                        #textField
                        #passwordField
                        appConfirmPasswordValidator
                        [password]="Password"
                        required
                        type="password" 
                        name="con-password" 
                        #conPasswordModel="ngModel"
                        placeholder="Confirm password"
                        [(ngModel)]="Con_Password">
                </app-input-field-decorator>
            </app-password-input-decorator>

            <app-form-error-message *ngIf="conPasswordModel.dirty && conPasswordModel.errors?.['required']">This field cannot be empty</app-form-error-message>

            <app-form-error-message *ngIf="conPasswordModel.errors?.['doesNotMatch']">Passowrd does not match</app-form-error-message>
        </label>
    
        <div class="btn-group">
            <button type="button" class="form-button" (click)="Back()">Back</button>

            <input [disabled]="form.invalid" type="submit" value="Next">
        </div>
    </main>
</form>