@import "partial-styles/mixings";

aside {
    grid-area: aside;
    padding: 0 $medium_number;
    display: flex;
    flex-flow: column;
    justify-content: center;

    ul {
        @include GlassBackround;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: $medium_number;
        padding: $large_number $medium_number;

        li {
            @include SquaredContainer(30px);
            display: grid;
            place-items: center;
            position: relative;
            list-style: none;
            cursor: pointer;
            transition: .3s;

            &.active {
                app-icon {
                    font-size: $medium_number * 2;
                }
            }

            app-icon {
                font-size: $medium_number;
                color: $secondary;
                transition: .3s ease;
            }

            &:hover {
                .label {
                    left: 130%;
                    opacity: 1;
                    transform: translateY(-50%) scale(1);
                }
            }

            .label {
                position: absolute;
                left: 0%;
                top: 50%;
                opacity: 0;
                transform: translateY(-50%) scale(.3);
                padding: 0 $small_number;
                background-color: $secondary;
                border-radius: 3px;
                pointer-events: none;
                transition: .3s ease;


                p {
                    font-size: $medium_number;
                }
            }
        }
    }

    @media (max-width: 600px) {
        display: none;
    }
}