<app-loaders #DefaultVenueLoader [initial_hide]="Mode == 'create'" [options]="'gradient'" (onReady)="OnDefaultVenueLoaderReady()">
    <main #loadTarget>
        @if(!UsingNewVenue()) {
            <section class="default">
                <div class="field" *ngIf="DefaultVenue()?.estateName">
                    <p>{{DefaultVenue()?.estateName | titlecase}} Estate</p>
                </div>

                <div class="field">
                    <p>{{DefaultVenue()?.addressInFull ?? 'Unable to get deafult location'}}</p>
                </div>
                <button type="button" (click)="UseNewVenue()">Use another location for this meeting</button>
            </section>
        }@else {
            <form class="new-vanue" #form = "ngForm" class="new-vanue">
                <label>
                    <app-input-field-decorator [model]="fullAddressModel" FieldStyle="hub">
                        <input 
                            #textField
                            #fullAddressModel="ngModel"
                            [(ngModel)]="NewVenue.addressInFull"
                            type="text" 
                            name="address" 
                            placeholder="Enter full address"
                            required>
                    </app-input-field-decorator>
                </label>

                <label>
                    <app-input-field-decorator [maxLength]="20" [model]="estateModel" FieldStyle="hub" [optionalField]="true">
                        <input 
                            #textField
                            #estateModel="ngModel"
                            [(ngModel)]="NewVenue.estateName"
                            type="text" 
                            name="extate" 
                            placeholder="Enter estate name">
                    </app-input-field-decorator>
                </label>

                <app-drop-down #cityDropDown (selectedDropKey)="OnCitySelect($event)">
                    <b>Choose city</b>

                    <section>
                        <div class="field">
                            {{NewVenue.city | textDeserailizer | titlecase}}
                        </div>

                        <app-loaders options="swirl" #dropClickable #CitiesLoader (onReady)="OnCitiesLoaderReady()">
                            <app-icon #loadTarget [name]="cityDropDown.Opened() ? 'caret-up' : 'caret-down'"></app-icon>
                        </app-loaders>
                    </section>
                </app-drop-down>

                <button type="button" (click)="UseDefaultVenue()">Use default venue</button>
            </form>
        }
    </main>
</app-loaders>