<app-loaders #DefaultVenueLoader [initial_hide]="Mode == 'create'" [options]="'gradient'">
    <main #loadTarget>
        @if(!UsingNewVenue()) {
            <section class="default">
                <div class="field" *ngIf="DefaultVenue()">
                    <p>Nearest landmark/bustop:</p>

                    <b>{{DefaultVenue()?.landmark | titlecase}}</b>
                </div>

                <div class="field" *ngIf="DefaultVenue()?.estateName">
                    <p>Estatename:</p>

                    <b>{{DefaultVenue()?.estateName | titlecase}} Estate</b>
                </div>

                <div class="field">
                    <p>Address:</p>

                    <b>{{DefaultVenue()?.addressInFull ?? 'Unable to get deafult location'}}</b>
                </div>
                <button type="button" (click)="UseNewVenue()">Use another location for this meeting</button>
            </section>
        }@else {
            <form class="new-vanue" #form = "ngForm" class="new-vanue">
                <label>
                    <app-input-field-decorator [model]="landMarkModel" [maxLength]="100">
                        <input
                            #textField
                            #landMarkModel="ngModel"
                            [(ngModel)]="NewVenue.landmark"
                            name="landmark" 
                            type="text"
                            placeholder="Enter nearest landmark/bustop"
                            required>
                    </app-input-field-decorator>
                </label>
                
                <label>
                    <app-input-field-decorator [model]="fullAddressModel">
                        <input 
                            #textField
                            #fullAddressModel="ngModel"
                            [(ngModel)]="NewVenue.addressInFull"
                            type="text" 
                            name="address" 
                            placeholder="Enter full address"
                            required>
                    </app-input-field-decorator>
                </label>

                <label>
                    <app-input-field-decorator [maxLength]="50" [model]="estateModel" [optionalField]="true">
                        <input 
                            #textField
                            #estateModel="ngModel"
                            [(ngModel)]="NewVenue.estateName"
                            type="text" 
                            name="extate" 
                            placeholder="Enter estate name">
                    </app-input-field-decorator>
                </label>

                <app-drop-down #cityDropDown (selectedDropKey)="OnCitySelect($event)">
                    <b>Choose city</b>

                    <section>
                        <div class="field">
                            {{NewVenue.city | textDeserailizer | titlecase}}
                        </div>

                        <app-loaders options="swirl" #dropClickable #CitiesLoader (onReady)="OnCitiesLoaderReady()">
                            <app-icon #loadTarget [name]="cityDropDown.Opened() ? 'caret-up' : 'caret-down'"></app-icon>
                        </app-loaders>
                    </section>
                </app-drop-down>

                <button type="button" (click)="UseDefaultVenue()">Use default venue</button>
            </form>
        }
    </main>
</app-loaders>