@import "partial-styles/mixings";

:host {    
    main {
        @include GlassBackround($large_number, $black);
        @include CollapseableContainer;
        position: fixed;
        left: $medium_number;
        width: clamp(150px, 100%, 200px);
        min-width: 100px;
        z-index: 5;
        overflow-y: scroll;
        transition: .3s ease;

        &:not(.open) {
            border: none;
        }

        &.open {
            ul {
                padding: $medium_number;
            }
        }

        ul {
            display: flex;
            flex-flow: column;
            gap: $medium_number;

            .unit {
                display: flex;
                align-items: center;
                gap: $medium_number;
                text-transform: capitalize;
                color: $secondary;
                border-radius: inherit;
                font-size: $preferred_font_size - 1;
                padding: $small_number;
                border-radius: $small_number; 
                cursor: pointer;

                &.blurred {
                    @include Disabled;
                }

                &.isRed {
                    color: $err_red;
                }

                &:hover {
                    background-color: transparentize($color: $white, $amount: .7);
                }
            }
        }
    }
}