<h4>History</h4>

<app-loaders #loader [initial_hide]="true">

   <section #externalLoader external-loader class="loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
   </section>
    
    <main #loadTarget [ngClass]="{no_attd: !HasHistory()}">
        @if(HasHistory()) {
            <table>
                <thead *ngIf="!IsMobileView">
                    <tr>
                        <th>Host</th>
                        <th>Meeting</th>
                        <th>Attendees</th>
                        <th>Punctuality</th>
                        <th>Arrived At</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @for (item of Attendances(); track item.id) {
                        <tr [ngClass]="{isMobileView: IsMobileView}">
                            @if(!IsMobileView) {
                                <td>
                                    <div>
                                        <app-image [inputSrc]="GetHost(item)?.profile_image" default="NO-PROFILE-PHOTO"></app-image>
                                    </div>
                                    <div>
                                        <b>{{GetHost(item)?.user?.firstName | titlecase}} {{GetHost(item)?.user?.lastName | titlecase}}</b>
                                    </div>
                                    <div class="username" (click)="RouteToUserProfile(GetHost(item)?.username)">
                                        @{{GetHost(item)?.username}}
                                    </div>
                                </td>
                                
                                <td>
                                    <p>{{item.meeting?.type | slugTextDeserailizer | titlecase}}</p>
                                </td>

                                <app-hub-meet-main-meetings-history-attds-view [Meeting]="item.meeting"></app-hub-meet-main-meetings-history-attds-view>

                                <td>
                                    <p [ngClass]="item.puntuality">{{item.puntuality | titlecase}}</p>
                                </td>

                                <td>
                                    <p>{{item.createdAt | date : "hh:mm a"}}</p>
                                </td>

                                <td>
                                    @if(isMeetingDateToday(item.meeting?.startTime)) {
                                        <p>Today</p>
                                    }@else {
                                        <p>{{item.meeting?.startTime | date : "MMM dd"}}</p>
                                    }
                                </td>

                                <td>
                                    <button (click)="RouteToMeetingDetails(item.meeting?.id)">Details</button>
                                </td>
                            }@else {
                                <app-hub-meet-main-meetings-history-mobile-row-view [Attendance]="item" (to_details)="RouteToMeetingDetails($event)"></app-hub-meet-main-meetings-history-mobile-row-view>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }@else {
            <app-image [inputSrc]="AppVectors.NO_DATA"></app-image>

            <h5>Meetings you attend at <b>{{CellName ?? 'Unknown'}}</b> will appear here.</h5>
        }
    </main>
</app-loaders>

<app-pagination
    [Page]="Page()" 
    [NumberOfPagesLeft]="NumberOfPagesLeft()" 
    [Loading]="loader.Loading()" 
    (selectedPagination)="LoadAttendanceHistory($event)">
</app-pagination>