@import "partial-styles/hub_mixings";
@import "partial-styles/gradients";

:host {
    display: flex;
    padding-bottom: $small_number;
    
    ul {
        @include HubContainerBasicStyle($primary);
        width: clamp(300px, 90%, 400px);
        display: flex;
        justify-content: space-evenly;
        border-radius: $medium_number;
        margin: 0 auto;
        padding: $small_number 0;

        li {
            position: relative;
            flex: 1;
            display: grid;
            place-items: center;
            list-style: none;

            &.active {
                div {
                    background-color: transparentize($color: $secondary, $amount: .8)
                }
            }

            div {
                @include SquaredContainer(40px);
                display: inherit;
                place-items: inherit;
                color: $white;
                border-radius: 50%;
                font-size: $medium_number + $small_number;
            }
        }
    }
}