<main>
    <app-meeting-slide-side-navigation [navigations]="Navigations()" class="aside" (navigateTo)="NavigateTo($event)"></app-meeting-slide-side-navigation>
    
    <section #mainSection>
        @switch (Page()) {
            @case ('members') {
                <app-meeting-slide-members-page #pages></app-meeting-slide-members-page>
            }

            @default {
                <app-meeting-slide-overview-page #pages></app-meeting-slide-overview-page>
            }
        }
    </section>

    <app-meeting-slide-bottom-navigation [navigations]="Navigations()" class="footer" (navigateTo)="NavigateTo($event)"></app-meeting-slide-bottom-navigation>
</main>