@import "partial-styles/hub_mixings";

:host {
    position: sticky;
    top: 0px;
    display: flex;
    container-type: inline-size;
    max-height: 97vh;
    container-type: inline-size;
    
    main {
        flex: 1;
        position: fixed;
        display: flex;
        flex-flow: column;
        gap: $large_number;

        header {
            display: flex;
            height: 45px;
            gap: $medium_number;

            app-logo {
                flex: 1;
            }

            app-icon {
                width: 50px;
                color: $secondary;
                font-size: $preferred_font_size;
                cursor: pointer;
            }
        }

        ul {
            @include HubContainerBasicStyle;
            flex: 1;
            display: flex;
            flex-flow: column;
            gap: $medium_number * 2;
            padding: $large_number 0;
            overflow-x: hidden;

            li {
                position: relative;
                display: flex;
                align-items: center;
                gap: $medium_number;
                color: $primary;
                padding: $medium_number;
                cursor: pointer;

                &::before {
                    @include Shadow(5px, 1px, .7);
                    background-color: $primary;
                    position: absolute;
                    inset: 0;
                    opacity: 0;
                    content: "";
                    height: 100%;
                    width: 0%;
                    border-top-right-radius: $large_number;
                    border-bottom-right-radius: $large_number;
                    pointer-events: none;
                    transition: .4s;
                    z-index: 1;
                }

                &.active {
                    pointer-events: none;
                }

                &.active, &:hover {
                    color: $white;

                    &::before {
                        width: 85%;
                        opacity: 1;
                    }
                }

                p, app-icon {
                    position: relative;
                    z-index: 2;
                }

                p {
                    font-size: $preferred_font_size;
                }
            }

            @container (max-width: 50px) {
                li {
                    justify-content: center;

                    p{
                        display: none;
                    }
                }
            }
        }

        footer {
            height: 80px;
        }
    }
}