@import "partial-styles/hub_mixings";

:host {
    @include HubContainerBasicStyle;
    display: flex;
    flex-flow: column;
    max-width: 400px;
    min-height: 250px;
    
    & > app-loaders {
        flex: 1;

        main {
            display: flex;
            flex-flow: column;
            gap: $medium_number;

            &.no_meeting {

                div {
                    flex: 1;
                    display: grid;
                    place-items: center;

                    app-image {
                        width: 200px;
                    }
                }
            }

            & > h4 {
                color: $primary;
                padding: $medium_number;
            }
            
        }
    }
}